{% set page_title = "Diffuser" %}
{% include "header.html" %}
    <body>
        <section action = "http://localhost:5000">
            <form method="post">
                <input type="text" name="num_a_diffuser" id="num_a_diffuser">
                <button type="submit">Lancer</button>
            </form>
            <div class="switch-container">
                <span id="questionLabel">Question</span>
                <label class="switch">
                    <input type="checkbox" id="switchButton">
                    <span class="slider round"></span>
                </label>
                <span id="sequenceLabel">Séquence</span>
            </div>
        
            <section id="section1" class="contain">
                <h1 class="titrePage">Vos Questions :</h1>
                <div class="filtre">
                    <select data-placeholder="Filtrer Tag" multiple class="filtreEtiquette" name="filtreEtiquette1" id="filtreEtiquette1">
                        <option value=""></option>
                        {% for i in range((liste_etiquette |length)) %}
                        <option>{{liste_etiquette[i] | safe}}</option>
                        {% endfor %}
                    </select>
                    <button class="bouttonCourt" id="btnFiltre" type="button" onclick="filtre();">Filtrer</button>
                </div>
                <section action = "http://localhost:5000" method = "post">
                    {% for i in range (questionnaire |length) %} <!--Boucle python-->
                    {% if questionnaire[i]["type"] == "choixMultiple" or questionnaire[i]["type"] == "numerique"%}
                        <div class="all {% for j in range((questionnaire[i]['etiquette'] |length)) %}
                                                  {{questionnaire[i]['etiquette'][j] | safe}}
                                                  {% endfor %}">
                        <section  class="encadrer">
      
                            <h4 class="question">Question :</h4>
                            <h6 class="l_etiquette">Identifiant : {{questionnaire[i]['id']}}</h6>
                            <h6 class="l_etiquette">
                            Etiquettes : 
                            {% for j in range((questionnaire[i]['etiquette'] |length)) %}
                                
                                #{{questionnaire[i]['etiquette'][j]}} 
                            {% endfor %}
                            </h6>
    
                            <section class ="enonce">
                                <div class="titreEnonce">
                                <h5>Enoncé :</h5>
                                </div>
                                <div class="valEnonce">
                                    <p>{{questionnaire[i]['enonce'] | safe}}</p> <!--Affiche le premier élément de la liste de la valeur associé à la clé (l'énoncé) sous format markdown-->
                                </div>
                            </section>
    
                            <section class ="reponse">
                                {% for j in range((questionnaire[i]['reponse'] |length)) %}
                                    <div class="blocReponse">
                                        <div class="titreReponse">
                                            Réponse {{j+1}}:
                                        </div>
                                        <div class="valReponse">
                                            {{questionnaire[i]['reponse'][j][0] | safe}} <!--Affiche les réponses-->
                                        </div>
                                    </div>
                                {% endfor %}
                            </section>
         
                        </section>
    
                        <section class="boxPetitBoutton">
                            <div>
                                    <button class = "bouttonCourt btnVal" data-value="{{questionnaire[i]['id']}}">Choisir</button>
                            </div>
                        </section>
                        </div>
                        {% endif %}
                    {% endfor %}
                </section>
            </section>
        
            <section id="section2" class="contain" style="display:none;">
                    <h1 class="titrePage">Vos Sequences :</h1>
                    <div class="filtre">
                        <select data-placeholder="Filtrer Tag" multiple class="filtreEtiquette" name="filtreEtiquette2" id="filtreEtiquette2">
                            <option value=""></option>
                            {% for i in range((liste_etiquette |length)) %}
                            <option>{{liste_etiquette[i] | safe}}</option>
                            {% endfor %}
                        </select>
                        <button class="bouttonCourt" id="btnFiltre" type="button" onclick="filtre();">Filtrer</button>
                    </div>
                    <section action = "http://localhost:5000" method = "post">
                        {% for i in range (questionnaire |length) %} <!--Boucle python-->
                        {% if questionnaire[i]["type"] == "sequence"%}
                            <div class="all {% for j in range((questionnaire[i]['etiquette'] |length)) %}
                                                      {{questionnaire[i]['etiquette'][j] | safe}}
                                                      {% endfor %}">
                            <section  class="encadrer">
          
                                <h4 class="question">Sequence {{questionnaire[i]['nom']}}</h4>
                                <h6 class="l_etiquette">Identifiant : {{questionnaire[i]['id']}}</h6>
                                <h6 class="l_etiquette">
                                Etiquettes : 
                                {% for j in range((questionnaire[i]['etiquette'] |length)) %}
                                    
                                    #{{questionnaire[i]['etiquette'][j]}} 
                                {% endfor %}
                                </h6>
                                <h6 class="l_etiquette">Commentaire : {{questionnaire[i]['commentaire']}}</h6>
                                {% for j in range(questionnaire[i]['question'] | length)%}
                                  {% for k in range(questionnaire |length) %}
                                    {% if questionnaire[i]['question'][j] == questionnaire[k]['id'] %}
                                    <h5>Question :</h5>
                                      <section class ="enonce">
                                          <div class="titreEnonce">
                                          <h6>Enoncé :</h6>
                                          </div>
                                          <div class="valEnonce">
                                              <p>{{questionnaire[k]['enonce'] | safe}}</p> <!--Affiche le premier élément de la liste de la valeur associé à la clé (l'énoncé) sous format markdown-->
                                          </div>
                                      </section>
        
                                      <section class ="reponse">
                                          {% for l in range((questionnaire[k]['reponse'] |length)) %}
                                              <div class="blocReponse">
                                                  <div class="titreReponse">
                                                      Réponse {{l+1}}:
                                                  </div>
                                                  <div class="valReponse">
                                                      {{questionnaire[k]['reponse'][l][0] | safe}} <!--Affiche les réponses-->
                                                  </div>
                                              </div>
                                          {% endfor %}
                                      </section>
                                    {% endif %}
                                  {% endfor %}
                                {% endfor %}
             
                            </section>
        
                            <section class="boxPetitBoutton">
                                <div>
                                        <button class = "bouttonCourt btnVal" data-value="{{questionnaire[i]['id']}}">Choisir</button>
                                </div>
                            </section>
                            </div>
                            {% endif %}
                        {% endfor %}
                        <div class="bouttonRetour">
                            <p><a href="{{url_for('menu', username=username)}}" class="lienRetour">Retour</a></p>
                          <p><a href="{{url_for('login')}}" class="lienRetour">Déconnexion</a></p>
                        </div>
                    </section>
                </section>
            <p><a href="{{url_for('menu', username=username)}}" class="lienRetour">Retour</a></p>
        </section>
        <script>
            // Slider
            document.getElementById("switchButton").addEventListener("change", function() {
                let section1 = document.getElementById("section1");
                let section2 = document.getElementById("section2");

                if (this.checked) {
                    section1.style.display = "none";
                    section2.style.display = "block";
                } else {
                    section1.style.display = "block";
                    section2.style.display = "none";
                }
            });
            // Value dans text input
            const buttons = document.querySelectorAll(".btnVal");
            buttons.forEach(button => {
                button.addEventListener("click", function() {
                    const value = this.getAttribute("data-value");
                    document.getElementById("num_a_diffuser").value = value;
                });
            });

        </script>    

{% include "footer.html" %}