{% include "header.html" %} 
<body>
    <h1>Diffuser une séquence ou une question</h1>
    <form>
        <label for="type">Type:</label>
        <select id="type" name="type">
            <option value="sequence">Séquence</option>
            <option value="question">Question</option>
        </select>
    </form>
    
        <div id="suggestions">
            <div id="sequences" class="suggestion-group">
                <h2>Séquences</h2>
                <ul>
                    <section class="contain">
                        {% for i in range (questionnaire |length) %} <!--Boucle python-->
                        {% if questionnaire[i]["type"] == "sequence"%}
                            <div class="all {% for j in range((questionnaire[i]['etiquette'] |length)) %}
                                                      {{questionnaire[i]['etiquette'][j] | safe}}
                                                      {% endfor %}">

                        <section  class="encadrer">
  
                        <h4 class="question">Sequence {{questionnaire[i]['nom']}}</h4>
                        <h6 class="l_etiquette">Identifiant : {{questionnaire[i]['id']}}</h6>
                        <h6 class="l_etiquette">
                        Etiquettes : 
                        {% for j in range((questionnaire[i]['etiquette'] |length)) %}
                            
                            #{{questionnaire[i]['etiquette'][j]}} 
                        {% endfor %}
                        </h6>
                        <h6 class="l_etiquette">Commentaire : {{questionnaire[i]['commentaire']}}</h6>
                        {% for j in range(questionnaire[i]['question'] | length)%}
                          {% for k in range(questionnaire |length) %}
                            {% if questionnaire[i]['question'][j] == questionnaire[k]['id'] %}
                            <h5>Question :</h5>
                              <section class ="enonce">
                                  <div class="titreEnonce">
                                  <h6>Enoncé :</h6>
                                  </div>
                                  <div class="valEnonce">
                                      <p>{{questionnaire[k]['enonce'] | safe}}</p> <!--Affiche le premier élément de la liste de la valeur associé à la clé (l'énoncé) sous format markdown-->
                                  </div>
                              </section>

                              <section class ="reponse">
                                  {% for l in range((questionnaire[k]['reponse'] |length)) %}
                                      <div class="blocReponse">
                                          <div class="titreReponse">
                                              Réponse {{l+1}}:
                                          </div>
                                          <div class="valReponse">
                                              {{questionnaire[k]['reponse'][l][0] | safe}} <!--Affiche les réponses-->
                                          </div>
                                      </div>
                                  {% endfor %}
                              </section>
                            {% endif %}
                          {% endfor %}
                        {% endfor %}
     
                    </section>
                    <section class="boxPetitBoutton">
                        <div>
                            <form id="modi">
                                <button class = "bouttonCourt" id="diffSequence"><a href ="{{url_for('diffuserAttente', username = username, num_a_diff = questionnaire[i]['id'])}}">Diffuser</a></button>
                            </form>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </section>


                    </section>
                </ul>
            </div>
            <div id="questions" class="suggestion-group" style="display:none;">
                <h2>Questions</h2>
                <ul>
                    <section class="contain">
                    {% for i in range (questionnaire |length) %} <!--Boucle python-->
                    {% if questionnaire[i]["type"] == "choixMultiple" or questionnaire[i]["type"] == "numerique"%}
                    <div class="all {% for j in range((questionnaire[i]['etiquette'] |length)) %}
                    {{questionnaire[i]['etiquette'][j] | safe}}
                    {% endfor %}">
                    <section  class="encadrer">
                      
                        <h4 class="question">Question :</h4>
                        <h6 class="l_etiquette">Identifiant : {{questionnaire[i]['id']}}</h6>
                        <h6 class="l_etiquette">
                            Etiquettes : 
                            {% for j in range((questionnaire[i]['etiquette'] |length)) %}
                            
                            #{{questionnaire[i]['etiquette'][j]}} 
                            {% endfor %}
                        </h6>

                        <section class ="enonce">
                            <div class="titreEnonce">
                                <h5>Enoncé :</h5>
                            </div>
                            <div class="valEnonce">
                                <p>{{questionnaire[i]['enonce'] | safe}}</p> <!--Affiche le premier élément de la liste de la valeur associé à la clé (l'énoncé) sous format markdown-->
                            </div>
                        </section>

                        <section class ="reponse">
                            {% for j in range((questionnaire[i]['reponse'] |length)) %}
                            <div class="blocReponse">
                                <div class="titreReponse">
                                    Réponse {{j+1}}:
                                </div>
                                <div class="valReponse">
                                    {{questionnaire[i]['reponse'][j][0] | safe}} <!--Affiche les réponses-->
                                </div>
                            </div>
                            {% endfor %}
                        </section>
                    </ul>
                    </section>
                    <section class="boxPetitBoutton">
                        <div>
                            <form id="modi">
                                <button class = "bouttonCourt" id="diffQuestion"><a href ="{{url_for('diffuserAttente', username = username, num_a_diff = questionnaire[i]['id'])}}">Diffuser</a></button>
                            </form>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </section>
                </section>
                </div>
            </div>

        <div class="bouttonRetour">
            <p><a href="{{url_for('menu', username=username)}}" class="lienRetour">Retour</a></p>
        </div>

        <script>
            document.getElementById('type').addEventListener('change', function() {
                const type = this.value;
                if (type === 'sequence') {
                    document.getElementById('sequences').style.display = 'block';
                    document.getElementById('questions').style.display = 'none';
                } else {
                    document.getElementById('sequences').style.display = 'none';
                    document.getElementById('questions').style.display = 'block';
                }
            });
        </script>
        {% include "footer.html" %}
