{% include "header.html" %}
    <body>
        <div class="contain">
            <div class="bigTitre">
                </br></br></br></br></br>
                <p>Bonjour !</p>
                <h3>Etes-vous prêt à commencer ?</h3>
                </br>
            </div>
        </div>
        <div class="contain">
            <div class ="entrer">
                <div class="text">
                    <a href="{{ url_for('login') }}">Créer mon Questionnaire</a>
            
                </div>
            </div>
            </br></br>
        </div>
    </body>
</html>