{% set page_title = "Menu Eleve" %}
{% include "header.html" %}
    <body>  
        <section action = "http://localhost:5000">
            <p>Répondre à une question</p>
            <form id="go-form" method="POST" action="{{ url_for('menuEleve', username=username) }}">
                <input type="text" id="num_a_rep" name="num_a_rep">
                <button type="submit">Go</button>
            </form>

            <a href="{{url_for('compte', username=username)}}"><button class="bouttonMenu" id="btnCompte" type="button">Mon compte</button></a>
        </section>
         
            
                
{% include "footer.html" %}