{% set page_title = "Modifier Question" %}
{% include "header.html" %}
{% include "sidebar.html" %}
   <body>        
      <section class="contain">
         <h1 class="titrePage">Modifier une question : </h1>
         <section action = "http://localhost:5000" method = "POST">            
            <form method = "POST">

               <h2 class="nomAEcarter">Question : {{ nom_question_a_modifier }}</h2>
               <div id="commun">
                  <select data-placeholder="Choisissez vos Etiquettes" multiple class="etiquette" name="etiquette" id="etiquette">
                     <option value=""></option>
                     {% for i in range((liste_etiquette |length)) %}
                     {% if liste_etiquette[i] in etiquettes %}
                     <option selected>{{liste_etiquette[i] | safe}}</option>
                     {% else %}
                     <option>{{liste_etiquette[i] | safe}}</option>
                     {% endif %}
                     {% endfor %} 
                  </select>
                 <h5 class="nomAEcarter">Enoncé :</h5>
                 <textarea  required name = "enon" id="enon">{{enonce_base}}</textarea>
               </div>
               <div id="type_q">
                 <h3> Choisissez votre type de question </h3>
                 <button id="btnQCM" type="button" onclick="qcm()"> QCM </button>
                 <button id="btnNum" type="button" onclick="num()"> Numerique </button>
               </div>
               
              <div id="qcm">
                <h5 class="nomAEcarter">Réponse :</h5>
                <section id="reponses" class="saisirReponse">
               {% if type_base == "choixMultiple" %}
                  {% for i in range((reponse_base|length)) %}
                  <div class="elementReponse" id="{{'elementReponse'+((i+1)|string)}}">
                     {% if reponse_base[i][1]  == True %}
                     <input type ="checkbox" name="{{'checkbox'+((i+1)|string)}}" id="{{'checkbox'+((i+1)|string)}}" checked/><span class="checkmark"></span>
                     {% else %}
                     <input type ="checkbox" name="{{'checkbox'+((i+1)|string)}}" id="{{'checkbox'+((i+1)|string)}}"/><span class="checkmark"></span>
                     {% endif %}
                     <textarea  name = "{{'rep'+((i+1)|string)}}" id="{{'rep'+((i+1)|string)}}">{{reponse_base[i][0]}}</textarea>
                     <button class = "bouttonSUPP" name="{{'btn'+((i+1)|string)}}" type="button" id="{{'btn'+((i+1)|string)}}" onclick="supp(this.id);">SUPP</button>
                  </div>
                  {% endfor%}
               {% else %}
                  {% for i in range(2) %}
                  <div class="elementReponse" id="{{'elementReponse'+((i+1)|string)}}">
                  <input type ="checkbox" name="{{'checkbox'+((i+1)|string)}}" id="{{'checkbox'+((i+1)|string)}}"/><span class="checkmark"></span>
                  <textarea  name = "{{'rep'+((i+1)|string)}}" id="{{'rep'+((i+1)|string)}}"></textarea>
                  <button class = "bouttonSUPP" name="{{'btn'+((i+1)|string)}}" type="button" id="{{'btn'+((i+1)|string)}}" onclick="supp(this.id);">SUPP</button>
                  </div>
                  {% endfor%}
               {% endif %}
               </section>
               <input id="nb_quest" type="text" name="nb_quest" value="{{[nb_reponse, 2]| max}}">
               <button class="bouttonLong" id="addDiv" type="button">Nouvelle réponse</button>
             </div>
         
             <div id="numerique">
              <p>Réponse :</p>
              {% if type_base == "numerique" %}
               <div id="reponse_n" class="saisirReponse">
                  <div class="elementReponse">
                     <input type="number" step=0.01  name = "rep_n" value="{{reponse_base[0][0]}}" />
                  </div>
               </div>
              {% else %}
               <div id="reponse_n" class="saisirReponse">
                  <div class="elementReponse">
                  <input type="number"  name = "rep_n" />
                  </div>
               </div>
               {% endif %}
            </div>

               <button class="bouttonLong" type="submit" id="mdfQuestion">Modifier la question</button>
            </form>
         </section>


         <div class="bouttonRetour">
            <p><a href="{{url_for('index', username=username)}}" class="lienRetour">Retour</a></p>
            <p><a href="{{url_for('logout')}}" class="lienRetour">Déconnexion</a></p>
         </div>  
      </section>
{% include "footer.html" %}