{% set page_title = "Inscription" %}
{% include "header.html" %}
    <body>
        <div class="contain">
                <p id="actLog">Créer un compte</p>
        
            <form method="POST" action="/register">
                <input id="id" type="text" name="username" placeholder="Ton Pseudo" required>
                <input id="id" type="password" name="password" placeholder="Mot de passe" required>
                <input id="id" type="radio" name="role" value="Professeur"><label for="Professeur">Professeur</label>
                <input id="id" type="radio" name="role" value="Eleve"><label for="Eleve">Elève</label>
                <button id ="submit">Inscription</button>
            </form>
        </div>

        <div class="contain">
            <p id="autreLog">
                Déjà un compte ?
                <a id= "changeLog" href="{{ url_for('login') }}">Se connecter !</a>
            </p>
        </div>
        
    </body>
</html>