<!DOCTYPE html>
<!-- Coding by CodingLab | www.codinglabweb.com-->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--<title>Sidebar Menu | Side Navigation Bar</title>-->
    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css" />
    <!-- Boxicons CSS -->
    <link
      href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav>
      <div class="logo">
        <i class="bx bx-menu menu-icon"></i>
        <span class="logo-name">Menu</span>
      </div>
      <div class="sidebar">
        <div class="logo">
          <i class="bx bx-menu menu-icon"></i>
          <span class="logo-name">Menu</span>
        </div>

        <div class="sidebar-content">
          <ul class="lists">
            <li class="list">
              <a href="{{url_for('index', username=username)}}" class="nav-link">
                <i class="bx bx-home-alt icon"></i>
                <span class="link">Liste Questions</span>
              </a>
            </li>
            <li class="list">
              <a href="{{url_for('diffuser', username=username)}}" class="nav-link">
                <i class='bx bx-question-mark icon'></i>
                <span class="link">Diffuser Question</span>
              </a>
            </li>
            <li class="list">
              <a href="{{url_for('sequence', username=username)}}" class="nav-link">
                <i class='bx bx-book-open icon'></i>
                <span class="link">Sequences Pedagogiques</span>
              </a>
            </li>
            <li class="list">
              <a href="#" class="nav-link">
                <i class="bx bx-pie-chart-alt-2 icon"></i>
                <span class="link">Statistiques</span>
              </a>
            </li>
            <li class="list">
              <a href="{{url_for('gestion', username=username)}}" class="nav-link">
                <i class='bx bx-add-to-queue icon'></i>
                <span class="link">Gestion Etudiants</span>
              </a>
            </li>
          </ul>

          <div class="bottom-cotent">
            <li class="list">
              <a href="#" class="nav-link">
                <i class="bx bx-cog icon"></i>
                <span class="link">Parametres</span>
              </a>
            </li>
            <li class="list">
              <a href="{{url_for('login', username=username)}}" class="nav-link">
                <i class="bx bx-log-out icon"></i>
                <span class="link">Deconnexion</span>
              </a>
            </li>
          </div>
        </div>
      </div>
    </nav>
    <div class="adapt">
    </div>

    <section class="overlay"></section>

    <script>
      const navBar = document.querySelector("nav"),
        menuBtns = document.querySelectorAll(".menu-icon"),
        overlay = document.querySelector(".overlay");

      menuBtns.forEach((menuBtn) => {
        menuBtn.addEventListener("click", () => {
          navBar.classList.toggle("open");
        });
      });

      overlay.addEventListener("click", () => {
        navBar.classList.remove("open");
      });
    </script>
  </body>
</html>

